<strong><h1>The Food Near Access Labs</h1>

<div class="deck-container">
    <div class="card-deck">
    <% @restaurants.each do |restaurant|%>
    <div class="card">
        <img class="card-img-top index-image" src=<%= restaurant.image_url %> alt=<%= restaurant.name %>>
        <div class="card-img-overlay">
        <h1 class="card-text"><%= restaurant.name  %></h1>
        </div>
    </div>
    <% end%>
    </div>
</div>
</div>
</strong>